/nbproject/private/
/nbproject/Makefile-*.mk
/nbproject/Package-*.bash
# Various files that may be generated if the launcher projects are opened in NetBeans 8.2.
/harness/apisupport.harness/windows-launcher-src/nbproject/Makefile-*.mk
/harness/apisupport.harness/windows-launcher-src/nbproject/Package-*.bash
/harness/apisupport.harness/windows-launcher-src/nbproject/private/
/nb/ide.launcher/windows/nbproject/Makefile-*.mk
/nb/ide.launcher/windows/nbproject/Package-*.bash
/nb/ide.launcher/windows/nbproject/private/
/platform/o.n.bootstrap/launcher/windows/nbproject/Makefile-*.mk
/platform/o.n.bootstrap/launcher/windows/nbproject/Package-*.bash
/platform/o.n.bootstrap/launcher/windows/nbproject/private/

/build/**
/nbbuild/
/dist/
/nbdist/
/build/
